.lastpage .title{
  font-size: 2.2rem;
  font-weight: bold;
  margin-bottom: .5rem;
}

.lastpage .job {
  color: #FFC408;
  font-size: 1.2rem;
  margin-bottom: .5rem;
}

.lastpage .job:first-letter {
  font-size: 1.5rem;
}

.lastpage .link {
  line-height: 1.8rem;
  height: 1.8rem;
}

.lastpage .download {
  line-height: 1.8rem;
  height: 1.8rem;
}

.lastpage .repo:first-letter {
  font-size: 1.05rem;
}

.lastpage .repo {
  font-size: .7rem;
  margin: 1rem 0;
}

.lastpage .qrwrap {
  margin: 0 auto;
  margin-top: 1rem;
  width: auto;
  display: inline-block;
}

.lastpage .qrwrap span {
  height: 4.5rem;
  line-height: 4.5rem;
  display: inline-block;
  vertical-align: middle;
  margin-right: 2rem;
}

.lastpage .qrwrap .qrcode {
  height: 4.5rem;
  width: 4.5rem;
  display: inline-block;
  background: url('/qr_code.png');
  background-size: 4rem;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-color: #fff;
  background-position: center;
}
